<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Contact ON</h1>

    <form>
      <label for="full-name">Full Name:</label>
      <input type="text" name="fully-name" id="fullName" />
      <label for="email">Email:</label>
      <input type="text" id="email" />
      <label for="phone">Phone:</label>
      <input type="text" id="phone" />
      <button type="submit" id="submit">Submit</button>
    </form>

    <script src="contact.js"></script>
  </body>
</html>
